<?xml version="1.0" encoding="UTF-8" ?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS,JST} %magenta(ACCESS) [%cyan(%h)] %yellow(%s): %white(%r) %b</pattern>
    </encoder>
  </appender>
  <appender-ref ref="CONSOLE" />
</configuration>